<div class="vision-page">
  <header class="page-header">
    <div class="container">
      <h1>الرؤيا والرسالة</h1>
      <p>المبادئ التي تنير دروبنا وتوجه عطاءنا</p>
    </div>
  </header>

  <main class="container content-body">
    <div class="card-container">
      <div class="card">
        <div class="card-icon">
          <i class="fa-solid fa-eye"></i>
        </div>
        <h2>رؤيتنا</h2>
          <p>تقديم الخدمات بقسميها الداخلي و الخارجي للأيتام من أبناء المجتمع المحلي الذين تنطبق عليهم شروط الجمعية ممن حرمو عطف الأب و حنان الأم</p>

      </div>

      <div class="card">
        <div class="card-icon">
          <i class="fa-solid fa-bullseye"></i>
        </div>
        <h2>رسالتنا</h2>
        <p>حماية الايتام اجتماعيا و النهوض بهم ثقافيا و مد يد العون لهم كي يشقو طريقهم في الحياه كغيرهم من أبناء المجتمع.</p>
      </div>
    </div>
    
  </main>
</div>